html
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 3.2360679775em

body
  position: relative
  width: 100%
  height: auto
  background: linear-gradient(rgba(5, 7, 18, 1), #777)
  color: #fff
  font-family: Ubuntu
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: visible
  letter-spacing: 1.125px

section
  margin: 0
  padding: 70px 0 0
  min-height: 80vh
  color: #fff
  border: thin solid #c5c5c5

//.container-fluid
  margin: 0
  padding: 0

.boxContainer
  width: 100%
  height: auto
  margin: 0
  padding: 0

.rowWrap
  position: relative
  width: 100%
  height: auto
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.rowNoWrap
  display: flex
  flex-flow: row nowrap
