@import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Slab|Ubuntu");
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/parts/_base.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* line 7, ../sass/parts/_base.sass */
body {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(#050712, #777);
  color: #fff;
  font-family: Ubuntu;
  letter-spacing: 1.125px;
}

/* line 19, ../sass/parts/_base.sass */
section {
  margin: 0;
  padding: 20vh 0 0;
  min-height: 80vh;
  color: #fff;
  border: thin solid #c5c5c5;
}

/* line 30, ../sass/parts/_base.sass */
.boxContainer {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/parts/_base.sass */
.rowWrap {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}
@media (min-width: 700px) {
  /* line 36, ../sass/parts/_base.sass */
  .rowWrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* line 47, ../sass/parts/_base.sass */
.rowNoWrap {
  display: flex;
  flex-flow: row nowrap;
}

/* line 4, ../sass/parts/_nav.sass */
nav {
  background: rgba(255, 255, 255, 0.4);
}

/* line 7, ../sass/parts/_nav.sass */
#menuTop li a {
  margin-left: 5px;
  color: #333;
  border-bottom: 2px solid #333333;
}
/* line 11, ../sass/parts/_nav.sass */
#menuTop li a:hover {
  color: #fff;
  background: #333333;
  border-bottom: 2px solid #fff;
}

/* line 16, ../sass/parts/_nav.sass */
.navbar-brand {
  color: rgba(183, 0, 5, 0.6) !important;
  text-shadow: 1px 1px #fff;
}

/* line 1, ../sass/parts/_bg-img-media.sass */
#bgImg {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@media (min-width: 300px) and (max-width: 576px) and (orientation: portrait) {
  /* line 13, ../sass/parts/_bg-img-media.sass */
  #bgImg img {
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -100;
    transform: translate(-32%, 0%);
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) and (orientation: portrait) {
  /* line 22, ../sass/parts/_bg-img-media.sass */
  #bgImg img {
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -100;
    transform: translate(-26%, 0%);
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) and (orientation: landscape) {
  /* line 31, ../sass/parts/_bg-img-media.sass */
  #bgImg img {
    position: fixed;
    width: auto;
    height: auto;
    transform: translate(-30%, 0%);
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
  /* line 38, ../sass/parts/_bg-img-media.sass */
  #bgImg img {
    width: 100%;
    height: auto;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -100;
  }
}
@media screen and (min-width: 1200px) {
  /* line 47, ../sass/parts/_bg-img-media.sass */
  #bgImg img {
    width: 100vw;
    height: auto;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -100;
    transform: translateX(0%);
  }
}

/* line 2, ../sass/parts/sec-2/_header.sass */
.header {
  width: 100%;
  height: auto;
  margin: 10vh 0 50vh;
  padding: 10vh 0;
  text-align: center;
  border: thin solid rgba(183, 0, 5, 0.6);
  border-bottom: 2px solid #333333;
  border-radius: 20px;
  box-shadow: 1px 1px 4px lightgrey;
  background: linear-gradient(rgba(5, 7, 18, 0.7) 30%, rgba(183, 0, 5, 0.6) 80%);
}
/* line 13, ../sass/parts/sec-2/_header.sass */
.header h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0 10px;
  font-size: 2em;
  text-shadow: 1px 1px #333;
  font-weight: 600;
}
@media (min-width: 700px) {
  /* line 13, ../sass/parts/sec-2/_header.sass */
  .header h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 320px) and (max-width: 899px) {
  /* line 13, ../sass/parts/sec-2/_header.sass */
  .header h1 {
    text-align: center;
  }
}
/* line 24, ../sass/parts/sec-2/_header.sass */
.header p {
  font-size: 1.2em;
}
@media (min-width: 700px) {
  /* line 24, ../sass/parts/sec-2/_header.sass */
  .header p {
    font-size: 1.5em;
  }
}
@media (min-width: 320px) and (max-width: 899px) {
  /* line 24, ../sass/parts/sec-2/_header.sass */
  .header p {
    text-align: center;
  }
}

/* line 1, ../sass/parts/sec-2/_pic-frame.sass */
.picFrame {
  position: relative;
  flex: 1 26%;
  margin: 20px 1%;
  padding: 15px;
  border: thin solid #a2323f;
  border-radius: 30px;
  background: linear-gradient(rgba(5, 7, 18, 0.7) 30%, rgba(183, 0, 5, 0.6) 80%);
}
@media (max-width: 600px) {
  /* line 1, ../sass/parts/sec-2/_pic-frame.sass */
  .picFrame {
    flex: 0 80%;
  }
}
@media (min-width: 610px) and (max-width: 1024px) {
  /* line 1, ../sass/parts/sec-2/_pic-frame.sass */
  .picFrame {
    flex: 0 45%;
  }
}
/* line 13, ../sass/parts/sec-2/_pic-frame.sass */
.picFrame h3 {
  margin: 0 0 15px;
  padding: 5px 0 10px;
  text-align: center;
  text-shadow: 1.25px 1px 1px #a2323f;
  font-weight: 600;
  color: #e2e2e2;
  background: #333;
  border-radius: 20px;
  border: thin solid #a2323f;
  font-size: 1.4em;
}
@media (min-width: 700px) {
  /* line 13, ../sass/parts/sec-2/_pic-frame.sass */
  .picFrame h3 {
    font-size: 1.8em;
  }
}
/* line 24, ../sass/parts/sec-2/_pic-frame.sass */
.picFrame .pic {
  width: 100%;
  padding: 5px;
  border-radius: 30px;
  border: thin solid #333;
  background: #333;
  transition: 0.5s ease-in-out 0.03s;
}

/* line 32, ../sass/parts/sec-2/_pic-frame.sass */
.picFrame:hover .pic {
  transform: scale(1.1);
}

/* line 1, ../sass/parts/sec-3/_sec-3.sass */
#section3 {
  margin-bottom: 100vh;
}

/* line 4, ../sass/parts/sec-3/_sec-3.sass */
.title-wrap {
  width: 100%;
  height: auto;
  margin: 0 auto 10vh;
  padding: 2em;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(rgba(13, 17, 25, 0.8) 30%, rgba(183, 0, 5, 0.6) 70%);
}
/* line 12, ../sass/parts/sec-3/_sec-3.sass */
.title-wrap h1 {
  font-size: 2em;
  padding: 20px;
}
@media (min-width: 700px) {
  /* line 12, ../sass/parts/sec-3/_sec-3.sass */
  .title-wrap h1 {
    font-size: 2.5em;
  }
}
/* line 15, ../sass/parts/sec-3/_sec-3.sass */
.title-wrap p {
  font-size: 1.2em;
}
@media (min-width: 700px) {
  /* line 15, ../sass/parts/sec-3/_sec-3.sass */
  .title-wrap p {
    font-size: 1.5em;
  }
}
